/*
	SASS, Responsive, HTML5 & CSS3
	Author: Terhi Kaaranka
	Version: 0.0.1
*/
/* BASE - Base tyles, variables, mixins, etc */
/* Font Colors */
/* Background Colors */
/*showcase area*/
/*Mixins*/
/* line 1, ../scss/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 5, ../scss/base/_normalize.scss */
.page-header {
  margin-top: 30px;
}

/* line 9, ../scss/base/_normalize.scss */
.no-pad-top {
  padding-top: 0;
}

/* line 1, ../scss/base/_base.scss */
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #163440;
}

/* line 9, ../scss/base/_base.scss */
.quote {
  font-family: 'Indie Flower', cursive;
}

/* line 13, ../scss/base/_base.scss */
body {
  background-color: #73787e;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#73787e));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, white, #73787e);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, white, #73787e);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, white, #73787e);
  /* IE10 */
  background-image: -o-linear-gradient(top, white, #73787e);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #ffffff, #73787e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#73787e');
}

/* line 17, ../scss/base/_base.scss */
a {
  color: #333333;
}

/* line 21, ../scss/base/_base.scss */
picture {
  width: 100%;
  margin-top: 30px;
  margin-left: 20px;
}

/* line 27, ../scss/base/_base.scss */
input, textarea, button {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 31, ../scss/base/_base.scss */
img.showcase {
  width: 100%;
}

/* line 36, ../scss/base/_base.scss */
img.kuva {
  width: 100%;
}

/* line 40, ../scss/base/_base.scss */
img.hockey {
  background: url("img/hockey.jpg") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 40, ../scss/base/_base.scss */
  img.hockey {
    /* on retina, use image that's scaled by 2 */
    background-image: url("img/hockey2.jpg");
    background-size: 100px 25px;
  }
}

/* line 44, ../scss/base/_base.scss */
img.nyk {
  background: url("img/nyk.jpg") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 44, ../scss/base/_base.scss */
  img.nyk {
    /* on retina, use image that's scaled by 2 */
    background-image: url("img/nyk.jpg");
    background-size: 100px 25px;
  }
}

/* line 48, ../scss/base/_base.scss */
img.old {
  background: url("img/old.jpg") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 48, ../scss/base/_base.scss */
  img.old {
    /* on retina, use image that's scaled by 2 */
    background-image: url("img/old2.jpg");
    background-size: 100px 25px;
  }
}

/* line 53, ../scss/base/_base.scss */
img.race {
  background: url("img/race.jpg") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 53, ../scss/base/_base.scss */
  img.race {
    /* on retina, use image that's scaled by 2 */
    background-image: url("img/race.jpg");
    background-size: 100px 25px;
  }
}

/* line 60, ../scss/base/_base.scss */
.juttu {
  border: 2px solid #163440;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 13px 15px;
  margin-bottom: 10px;
}

/* line 66, ../scss/base/_base.scss */
.tab-primary {
  border: 1px solid #73787e;
  padding: 13px 15px;
  margin-bottom: 10px;
}

/* MODULES - Individual site components*/
/* line 3, ../scss/modules/_buttons.scss */
.buttons {
  width: 300px;
  height: 100px;
  background: url("img/social_icons.png");
  margin: 10px auto;
  padding: 0;
  position: absolute;
}
/* line 13, ../scss/modules/_buttons.scss */
.buttons li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
}
/* line 19, ../scss/modules/_buttons.scss */
.buttons li, .buttons a {
  height: 100px;
  display: block;
}
/* line 25, ../scss/modules/_buttons.scss */
.buttons .fb {
  left: 0px;
  width: 100px;
}
/* line 26, ../scss/modules/_buttons.scss */
.buttons .tw {
  left: 100px;
  width: 100px;
}
/* line 27, ../scss/modules/_buttons.scss */
.buttons .ig {
  left: 220px;
  width: 100px;
}

/*Sections*/
/* line 3, ../scss/modules/_sections.scss */
.section {
  padding: 30px 0;
}

/* line 7, ../scss/modules/_sections.scss */
.section-showcase {
  height: 200px;
  background: url("../img/showcase.jpg") no-repeat center;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 100px;
}
/* line 12, ../scss/modules/_sections.scss */
.section-showcase .showcase-content {
  padding: 110px 15px;
  text-align: center;
}
/* line 18, ../scss/modules/_sections.scss */
.section-showcase h1 {
  color: #163440;
  text-align: center;
  margin-top: 100px;
}

/* Icons */
/* line 3, ../scss/modules/_typography.scss */
.fa-2 {
  font-size: 18px;
}

/* line 7, ../scss/modules/_typography.scss */
.fa-3 {
  font-size: 24px;
}

/* line 10, ../scss/modules/_typography.scss */
.fa-4 {
  font-size: 27px;
}

/* line 13, ../scss/modules/_typography.scss */
.fa-5 {
  font-size: 35px;
}

/* line 16, ../scss/modules/_typography.scss */
.fa-6 {
  font-size: 40px;
}

/* line 1, ../scss/modules/_forms.scss */
.search {
  width: 100%;
}
/* line 4, ../scss/modules/_forms.scss */
.search h3 {
  margin-top: 0;
  padding-top: 0;
}
/* line 10, ../scss/modules/_forms.scss */
.search input[type="search"] {
  border: 0;
  height: 37px;
  width: 80%;
  margin-top: 10px;
  border: 2px solid #73787e;
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 5px;
}
/* line 22, ../scss/modules/_forms.scss */
.search .fa-search {
  border: 0;
  background: none;
  padding: 0;
  vertical-align: top;
  margin-left: -4px;
}

/* LAUYOUTS - Page layout styles*/
/*navbar */
/* line 3, ../scss/layouts/_nav.scss */
.navbar {
  margin: auto;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  min-height: 60px;
  background: #163440;
  margin-bottom: 30px;
}
/* line 12, ../scss/layouts/_nav.scss */
.navbar a {
  color: #d9cdb8;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding-bottom: 24px !important;
  padding-top: 20px !important;
}

/* line 21, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: #163440 !important;
  color: #fff !important;
}

/* Footer */
/* line 3, ../scss/layouts/_footer.scss */
.footer-main {
  background: #333333;
  color: #d9cdb8;
  border-top: 5px solid #d9cdb8;
  min-height: 200px;
  padding: 30px 0;
}
/* line 10, ../scss/layouts/_footer.scss */
.footer-main a {
  color: #d9cdb8;
}
/* line 14, ../scss/layouts/_footer.scss */
.footer-main ul {
  margin: 0;
  padding: 0;
}
/* line 20, ../scss/layouts/_footer.scss */
.footer-main li {
  line-height: 1.8em;
  list-style: none;
}
