/* Font Colors */
$base-font-size:15px;
$base-font-family:"Segoe UI","Segoe WP","Segoe Regular", sans serif;
$base-font-color:#163440;

/* Background Colors */
$primary-color: #163440;
$secondary-color: #73787e;
$light-color:#d9cdb8;
$dark-color:#333333;

/*showcase area*/
$showcase-height:200px;
$showcase-image:"../img/showcase.jpg";


