/*Sections*/

.section{
	padding:30px 0;
}

.section-showcase{
	height:$showcase-height;
	background:url($showcase-image) no-repeat center;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top:100px;
	.showcase-content{
	padding: 110px 15px;
	text-align:center;
	
	}
	
	h1{
	color:$primary-color;
	text-align: center;
	margin-top:100px;
	}
}
